@use 'variables' as *;

body {
    margin: 0;
    height: 300vh;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100vh;
    background: url('../assets/img/bg-header.webp') center/cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: $color-white;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 20px;
    border-radius: 6px;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 70px;
    }
}

button {
    background-color: rgba(0, 0, 0, 0.517);
    border: 1px solid #fff;
    color: #fff;
    padding: 20px;
    width: 120px;
    text-align: center;
    border-radius: 6px;
}
